<% @title = "Rio de Janeiro Generator" %>
<% @style = "rj.css" %>

<style>[v-cloak] { display: none }</style>

<main
  v-scope="{
    text: 'Rio de Janeiro', url: DEFAULT_IMAGE,
    fontSize: 48, shadow: 8,
    alpha: 0.5,
    tilt: false, perspective: 650, angleX: 14, angleY: 14, panX: 0, panY: 0, zoom: 0
  }"
  @vue:mounted="onpaste = e => url = updateUrl(url, e.clipboardData.files[0])">
  <section style="flex: 1 0 30%">
    <div style="float: right">
      <input
        ref="select" type="file" accept="image/*" hidden
        @change="url = updateUrl(url, $el.files[0])">
      <button @click="$refs.select.click()">
        Choose file
      </button>
    </div>

    <h1>Rio de Janeiro</h1>

    <fieldset>
      <legend>Filter</legend>
      <label>
        <b>City text</b>
        <input type="text" v-model="text">
      </label>
      <br>
      <label>
        <b>Font size</b>
        <input type="range" min="8" max="256" v-model="fontSize">
        <input type="number" v-model="fontSize">
      </label>
      <br>
      <label>
        <b>Text shadow</b>
        <input type="range" min="0" max="32" v-model="shadow">
        <input type="number" v-model="shadow">
      </label>
      <hr>
      <label>
        <b>Filter strength</b>
        <input type="range" min="0" max="1" step="any" v-model="alpha">
      </label>
    </fieldset>

    <fieldset v-scope="{ enabled: false }" :disabled="!enabled">
      <legend>Vignette <input type="checkbox" v-model="enabled"></legend>

      <label>
        <b>Strength</b>
        <input type="range" min="8" max="256">
      </label>
    </fieldset>

    <fieldset :disabled="!tilt">
      <legend>Tilt <input type="checkbox" v-model="tilt"></legend>

      <label>
        <b>Perspective</b>
        <input type="range" min="0" max="1000" v-model="perspective">
      </label>
      <br>
      <label>
        <b>Angle X</b>
        <input type="range" min="-90" max="90" v-model="angleX">
        <b>Y</b>
        <input type="range" min="-90" max="90" v-model="angleY">
      </label>
      <br>
      <label>
        <b>Pan X</b>
        <input type="range" min="-1000" max="1000" v-model="panX">
        <b>Y</b>
        <input type="range" min="-1000" max="1000" v-model="panY">
      </label>
      <br>
      <label>
        <b>Zoom</b>
        <input type="range" min="0" max="1000" v-model="zoom">
      </label>
    </fieldset>
  </section>

  <section style="text-align: center" v-scope="{ width: 512, height: 512 }">
    <!-- BEHOLD. HTML IN SVG IN HTML -->
    <svg
      id="dummy_svg" viewBox="0 0 512 512" height="512"
      :width="width" :height="height"
      v-effect="$el.setAttribute('viewBox', `0 0 ${width} ${height}`)"
    >
      <foreignObject width="100%" height="100%">
        <div>
          <div id="filter" :style="{ '--alpha': alpha, perspective: perspective + 'px' }">
            <img
              id="image" :src="url"
              :style="{
                transform: tilt
                  ? `translate3d(${panX}px,${panY}px,${zoom}px) rotate3d(1,0,0,${angleX}deg) rotate3d(0,1,0,${angleY}deg)`
                  : '' }"
              @load="width = $el.width, height = $el.height" />
            <span
              id="text" v-text="text"
              :style="{ fontSize: fontSize + 'px', '--shadow': shadow + 'px' }">
            </span>
          </div>
        </div>
      </foreignObject>

      <style>
        #filter {
          font: 48px/0 SF Pro;
          text-align: center;
          background: linear-gradient(135deg, rgb(47 0 255 / var(--alpha)), rgb(255 0 100 / var(--alpha)));
        }
        #image {
          mix-blend-mode: screen;
        }
        #text {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          color: #fff;
          text-shadow: 0 0 var(--shadow) #000;
        }
      </style>
    </svg>

    <br>

    <button @click="exportImage().then(x => open(x, '_blank'))">
      Export image
    </button>

    <a id="download" download="export.png" hidden></a>
    <button @click="exportImage().then(x => (download.href = x, download.click()))">
      Download image
    </button>
  </section>
</main>

<footer>
  Copyright 2024 rini ‧ Made with Spite and Anguish. <br> <br>

  Ark Pixel Font by <a href="https://takwolf.com" target="_blank">TakWolf</a>. <br>
  SF Pro Font stolen from Apple. Or it might just be Inter, no one can tell.
</footer>

<script src="rj.js"></script>
<script src="/vendor/petite-vue.js" init></script>
