<% @title = "???" %>
<% @style = "/base.css" %>

<main>
  <section style="text-align: center">
    <h1>404 Not Found</h1>
    <a href="/"><i>Let me out.</i></a>
    <br><br>
    <hr>
    nginx
  </section>
</main>
