<x-fragment slot="head">
  <title>~rini</title>
  <link rel="stylesheet" href="index.css">
  <script src="/vendor/anguish.js" defer></script>
</x-fragment>

<main>
  <section>
    <h1>Welcome!</h1>
    <p style="font-family: papyrus; text-shadow: 0 0 2px #444;">
      The Industrial Revolution and its consequences have been a disaster for the human race. They have greatly increased the life-expectancy of those of us who live in “advanced” countries, but they have destabilized society, have made life unfulfilling, have subjected human beings to indignities, have led to widespread psychological suffering (in the Third World to physical suffering as well) and have inflicted severe damage on the natural world. The continued development of technology will worsen the situation. It will certainly subject human beings to greater indignities and inflict greater damage on the natural world, it will probably lead to greater social disruption and psychological suffering, and it may lead to increased physical suffering even in “advanced” countries.
    </p>

    <p>
      Please appreciate the following john <br><br>
      <iframe id="john" src="https://john.citrons.xyz/embed?ref=rinici.de"></iframe>
    </p>
  </section>

  <div>
    <nav>
      <h2>Links</h2>
      <p>Find me here!</p>
      <ul>
        <x-for each="[href, text] in [
          ['https://codeberg.org/rini',   'codeberg.org/rini'],
          ['https://ko-fi.com/rniii',     'ko-fi.com/rniii'],
          ['https://wetdry.world/@rini',  '@rini@wetdry.world'],
          ['mailto:rini@rinici.de',       'rini@rinici.de'],
        ]">
          <li><a rel="me" :href x-text="text"></a></li>
        </x-for>
      </ul>
    </nav>

    <nav>
      <h2>Stuff</h2>
      <ul>
        <li><a href="/stuff/rj">Rio de Janeiro</a> <i>[todo]</i></li>
      </ul>

      <x-for each="[href, src, alt] in [
        ['https://authenyo.xyz', '/assets/authen.gif', 'authen'],
        ['https://youtu.be/NocXEwsJGOQ', '/assets/miku.gif', 'This website is Miku approved'],
      ]">
        <a :href target="_blank"><img :src :alt></a>
      </x-for>
    </nav>
  </div>

  <section x-data="{
    socket: null,
    message: null,
    setup() {
      const history = $refs.history

      socket = new WebSocket(`${location.origin}/chat?nick=${localStorage.nick ?? ''}`)
      socket.onmessage = (e) => message = e.data

      $effect(() => {
        if (!message) return

        const now = new Date().toTimeString().slice(0, 5)
        const scrollBottom = history.scrollHeight - history.clientHeight - history.scrollTop

        history.innerHTML += `<li><time>${now}</time>${message}`

        if (scrollBottom <= 1) history.scrollTop = history.lastChild.offsetTop
      })
    },
    send(message) {
      if (!message) return
      socket.send(message)
      if (message.startsWith('/nick')) localStorage.nick = message.slice(6)
    },
  }">
    <h2>intra relay cat</h2>

    <div class="chat">
      <ol x-ref="history"></ol>
      <form action="javascript:void(0)" @submit="send(text.value.trim()), reset()">
        [#cat] <input aria-label="Send a message" placeholder="Type..." name="text" autocomplete="off">
      </form>
    </div>
  </section>
</main>

<footer>
  Copyright 2024 rini
</footer>
