<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="hiya!">
    <meta name="theme-color" content="#d895ee">
    <link rel="stylesheet" href="<%= @style %>">
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
