@import "/base.css";

@font-face {
  font-family: "SF Pro";
  font-weight: light;
  src: url("/assets/sfpro.woff2");
}

#dummy_svg {
  max-height: 65vh;
  width: 60vw;
  margin: 0 auto;
  image-rendering: auto;
}

body {
  background: #151515;
}

section,
footer {
  box-shadow: none;
  padding: 0;
}

h1 {
  font: 36px Papyrus;
  text-shadow: 0 0 2px #eee;

  &::before {
    content: "";
  }
}

button {
  all: unset;
  color: #151515;
  background: #d895ee;
  padding: 12px 2ch;
  box-shadow: 4px 4px #333, inset 2px 2px #e0bdeb;
  text-shadow: 2px 0 #151515, 2px 2px #e0bdeb, 4px 2px #e8bdeb;
  letter-spacing: 2px;
  margin: 0 4px;
}

button:hover {
  opacity: 90%;
}

button:active {
  opacity: 90%;
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: inset 2px 2px #e0bdeb;
}

input[type="text"] {
  all: unset;
  background: #303030;
  padding: 6px 12px;
  margin: 6px 0;
}

input[type="range"] {
  all: unset;
  background: #555;
  width: 20ch;
  height: 8px;

  &::-moz-range-thumb {
    border-radius: 0;
    border: 0;
    width: 8px;
    height: 16px;
  }

  &::-moz-range-progress {
    background: #aaa;
    height: 8px;
  }
}

input[type="number"] {
  all: unset;
  background: #303030;
  padding: 4px 6px;
  margin: 6px 0;
  width: 8ch;
}

:disabled {
  color: #909090;
}
