@font-face {
  font-family: Ark Pixel Mono;
  src: url(/assets/arkt.woff2) format(woff2), url(/assets/arkt.ttf);
}
@font-face {
  font-family: Papyrus;
  src: url(/assets/papyrus.woff2) format(woff2), url(/assets/papyrus.ttf);
}

body {
  color: #d5d5d5;
  font: 20px/24px Ark Pixel Mono, unifont, MS PGothic;
  text-shadow: 2px 2px #4f4952;
  margin: 0;
  text-underline-offset: 2px;
  background: url(data:image/gif;base64,R0lGODdhAwAGAHcAACwAAAAAAwAGAICrm7DCr8gCB0xwgMeoUQAAOw)
    0 0 / 6px;
  image-rendering: pixelated;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 48px;
  gap: 48px 2ch;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 48px 2ch;
}

footer {
  margin: 48px;
}

section,
nav,
footer {
  background: #181515;
  padding: 24px 1ch;
  box-shadow: 1ch 24px #786e7b;
}

section {
  min-width: fit-content;
  flex: 7 0 40%;
}

b {
  font-weight: 400;
  text-shadow: 2px 0 currentColor, 2px 2px #4f4952, 4px 2px #4f4952;
  letter-spacing: 2px;
}

h1,
h2,
h3 {
  color: #eee;
  margin: 0 0 24px;
  font-size: 20px;
  @extend b;

  &::before {
    content: "> ";
    color: #909090;
    text-shadow: -4px 0, 2px 0, 4px 0;
    letter-spacing: 0;
  }
}

h1::before {
  color: #d895ee;
}

a {
  color: #d895ee;
  text-decoration: 2px underline;
  text-shadow: 2px 2px #37313a;
}

p,
ul {
  padding: 0 2ch;
  margin: 20px 0;
  max-width: 80ch;
}

ul {
  padding: 0 6ch;
}

ul li::marker {
  content: "* ";
}
