@import url("/base.css");

a[href="/stuff/rj"] {
  background: linear-gradient(45deg, #2f00ff, #ff0064);
  color: #eee;
}

#john {
  width: 100%;
  height: 94px;
  border: none;
}

.chat {
  background: #202020;
  text-shadow: 2px 2px #37313a;

  ol,
  form {
    padding: 0 2ch;
  }

  ol {
    list-style: none;
    margin: 0;
    height: 96px;
    overflow: scroll;
  }

  li > span {
    color: #999;
  }

  time {
    margin-right: 1ch;
    color: #909090;
  }

  input {
    all: unset;
  }
}
